/**********Header**********/

/*** Mobile navigation ***/
@media screen and (max-width: 950px) {
nav ul li {
    display: block;
    
}

/*.nav-background {
   height: 50px;
}*/

.mobile-nav-back {
    height: 100px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: none;
    z-index: -100;
}

.mobile-nav-icon {
    display: inline-block;
    z-index: 300;
    position: fixed;
    top: 2%;
    right: 2%;
} 
nav ul {
    margin-top: 5px;
    display: none;
    z-index: 300;
}}
/**********Main**********/
@media screen and (max-width: 1100px) {
    .portrait {display: none;
}}

@media screen and (max-width: 624px) {
    .location {display: block;
    }  
    .fa-location-dot {margin-left: 53px;
}}

/**********Skills**********/
@media screen and (max-width: 360px) {
    .skills h3.title {font-size: 35px;
}}
    
@media screen and (max-width: 900px) {
    .skills div ul {transform: translate(-55px, 0);   
}}

/**********My projects**********/

@media screen and (max-width: 1200px) {
    .container {flex-wrap: wrap;
}}

/**********About me**********/

/**********Contacts**********/

@media screen and (max-width: 480px) {
    .contact p {font-size: 13px;
    }
    .contact i {margin: 0 30px 40px 30px;
}}

/**********Footer**********/